@charset "UTF-8";

@font-face {
    font-family: Better Spring;
    src: url(//fonte/Better\ Spring.otf);
}

@font-face {
    font-family: BebasNeue;
    src: url(//fonte/BebasNeue-Regular.otf);
}

:root {
    --color1 :#193C40;
    --color2 :#2E5902;
    --color3 :#214001;
    --color4 :#D96941;
    --color5 :#A62B1F;
    --fonte1 :Arial, Helvetica, sans-serif;
    --fonte2 :'Better Spring', Arial, Helvetica, sans-serif;
    --fonte3 :'BebasNeue', Arial, Helvetica, sans-serif ;
}

body {
    
}


